@custom-media --ek-list-media-small only screen and (min-width: 480px);

@custom-media --ek-list-media-medium only screen and (min-width: 768px);

@custom-media --ek-list-media-large only screen and (min-width: 960px);

@custom-media --ek-list-media-wide only screen and (min-width: 1200px);

@custom-media --ek-list-media-huge only screen and (min-width: 1400px);

:root {
    /* prop 'list-indent' */
    --ek-list-indent-xxs: 5px;
    --ek-list-indent-xs: 10px;
    --ek-list-indent-s: 15px;
    --ek-list-indent-m: 20px;
    --ek-list-indent-l: 25px;
    --ek-list-indent-xl: 30px;
    --ek-list-indent-xxl: 35px;
}
